# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# Other
.pytest_cache/
.mypy_cache/
# Local SQLite databases
*.db

# ML model files
*.pkl
